# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Java ### 
.project
.settings
.classpath
.metadata
*.class
*.log

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Java annotation processor (APT)
.factorypath
.apt_generated/
.apt_generated_test/


# STS (Spring Tool Suite)
.springBeans


# Spring Boot Tooling
.sts4-cache